.custom-select-container {
  max-width: 218px;
  margin: 0 auto 32px auto;
  background-color: $white;
}

.custom-select-opener {
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
}
.custom-select-panel {
  background-color: $white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.custom-select-option {
  font-size: 16px;
  padding: 6px;
  color: $black;
  &.has-focus {
    background-color: $light-green;
  }
}
.custom-select-option.is-selected::before {
  display: none;
}