// color

$black: #000000;
$white: #ffffff;
$green: #12c745;
$other-green: #29dc5c;
$red: #bc0000;
$light-green: #b0ffc6;
$dark-blue: rgb(13, 0, 76);
$light-blue: rgb(188, 220, 255);


// Breakpoints
$bp-xxs: 480px;
$bp-xs: 610px;
$bp-sm: 767px;
$bp-md: 969px;
$bp-lg: 1024px;
$bp-xlg: 1366px;
$bp-xxlg: 1440px;